.sidebarMain {
  width: 300px;
  float: right;
  margin-right: 5px;
  position: relative;
  margin-bottom: 45px;

  & > * {
    margin-top: 10px;
  }
}

input {
  border: 1px solid gray;
  font-family: verdana;
  width: 300px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 13px;
  padding: 6px;
  padding-right: 25px;
  padding-left: 9px;
  vertical-align: middle;
}

.autocompleteRow {
  font-size: 13px;
  padding: 6px;
  padding-right: 25px;
  padding-left: 9px;
  vertical-align: middle;
  cursor: pointer;
  background-color: white;
}

.autocompleteActiveRow {
  background-color: lightgray;
}

.subredditBox {
  border: 1px solid black;

  h4 {
    margin: 10px;
  }

  a {
    display: grid;
    padding: 2px 10px;
    text-decoration: none;
    color: #369;
    font-size: 12px;
    border-top: 1px solid grey;

    &:hover {
      background-color: lightgray;
    }
  }
}

.addSubredditText {
  margin-top: 4px;
  font-size: x-small;
  padding: 0 4px;
}
